$primaryColor: #C6CAE2;

.project-one {
    position: relative;
    grid-column: 4 / span 9;
    grid-row: 1 / span 5;
    display: grid;
    padding: 40px;

    .image-block {
        position: relative;
        grid-column: 1 / span 6;
        grid-row: 1 / span 5;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .project-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        grid-column: 1 / span 6;
        grid-row: 6 / span 1;
        font-size: 12px;
        line-height: 1.25;

        ul {
            list-style-type: none;

            li {
                margin: 10px;
            }
        }


        .project-description {
            width: 45ch;
            line-height: 1.55;
            font-kerning: auto;
        }
    }

}

// .grid-place-left {
//     grid-column: 1 / span 6;
// }

.grid-place-right {
    grid-column: 7 / span 6;
    grid-row: 2 / span 6;
}


.web-project {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-family: Arial,
        Helvetica,
        sans-serif;
    background: #140E17;
    color: $primaryColor;
}

.project-two {
    position: relative;
    grid-column: 1 / span 6;
    grid-row: 1 / span 5;

    display: grid;
    padding: 40px;

    .image-block {
        position: relative;
        grid-column: 1 / span 6;
        grid-row: 1 / span 5;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .project-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        grid-column: 1 / span 6;
        grid-row: 6 / span 1;
        font-size: 12px;
        line-height: 1.25;

        ul {
            list-style-type: none;

            li {
                margin: 10px;
            }
        }


        .project-description {
            width: 45ch;
            line-height: 1.55;
            font-kerning: auto;
        }
    }

}

// Mobile Responsiveness
@media(max-width: 900px) {

    header {
        overflow: hidden;
    }

    .web-project {
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }

    .project-one {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
        height: auto;

        .image-block {
            grid-column: 1 / span 6;
            grid-row: 1 / span 4;
        }

        .project-info {
            flex-direction: column;
            font-size: 11px;
        }
    }



    .project-two {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
        height: auto;

        .image-block {
            grid-column: 1 / span 6;
            grid-row: 1 / span 4;
        }

        .project-info {
            flex-direction: column;
            font-size: 11px;
        }
    }




    footer {


        .footer-email {
            #contact-email {
                font-size: 11px;
            }
        }
    }





}