@import './head.scss';

@import './section.scss';
@import './footer.scss';
@import './project.scss';
@import './personal.scss';

* {
    font-family: "Merriweather";
}

a {
    color: #f4a0c5;
    font-size: 14px;
}